* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }
  .background-image-home {
    width: 100vw;
    height: 100vh;
    position: absolute;
    filter: blur(4px);
    object-fit: cover;
    z-index: -1; 
  }
  .login-users-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: 'MagnisaSansRegularOtf', sans-serif;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .login-users {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 50px 55px rgba(255, 255, 255, 0.9);
    position: relative;
  }
  .form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 620px;
    padding: 20px; 
    border-radius: 15px;
    background-color: rgba(66, 169, 54, 0.3);
    box-shadow: 0 0 15px 15px rgba(66, 169, 54, 0.3);
    margin-bottom: 60px;
  }
  .i-name,
  .i-lastName,
  .i-birthDate,
  .s-genre,
  .i-password,
  .i-email, .i-mobile {
    background-color: transparent;
    border: none;
    border-bottom: 2.5px solid rgba(66, 169, 54, 0.7);
    padding: 10px;
    font-family: 'MagnisaSansRegularOtf', sans-serif;
    width: 280px;
    font-size: larger;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: center;
  }
  .password {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .l-submit {
    background-color: rgba(206, 196, 52, 0.7);
    border: none;
    border-bottom: 2.5px solid rgba(175, 166, 43, 0.7);
    border-right: 2.5px solid rgba(175, 166, 43, 0.7);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-family: 'MagnisaSansRegularOtf', sans-serif;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px 0; 
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:black;
    text-decoration: none;
  }
  .l-submit:hover {
    transform: scale(1.05);
  }
  .title-login {
    margin-top: 20px;
    background-color: rgba(98, 133, 214, 0.7);
    padding: 10px;
    border: 2px solid rgba(98, 133, 214);
    margin-bottom: 20px;
  }
  